@font-face {
  font-family: Skranji-Bold;
  src: url(../../fonts/Skranji-Bold.ttf);
}

@font-face {
  font-family: Skranji-Regular;
  src: url(../../fonts/Skranji-Regular.ttf);
}

@font-face {
  font-family: cartoon;
  src: url(../../fonts/Good-Morning.ttf);
}
