.welcome-section {
  text-align: center;
  margin:auto;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: $main-background;

    .welcome-wrapper {
      margin: auto;
      .title-1 {
        color: $title-color;
        font-family: cartoon;
        padding: 10px;
        display: inline-block;
        font-size: 4.5em;
      }
      .subtitle-1 {
        display: inline-block;
        font-family: Skranji-Regular;
        font-size: 2.5em;
        color: $subtitle;

      }
  }
}
