.navbar {
  background-color: $gray-ligth;
  color: $white;
  font-family: Raleway-Regular;
  height: 100px;
  letter-spacing: 2px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;


  ul {
    margin: 47px;
    text-align: center;
    width: 100%;

    .text-left {
      display: inline-block;
      font-size: 2em;
      font-family: Raleway-Medium;
      position: relative;
      margin-right: 10%;
      bottom: -10px;

    }

    li {
      display: inline-block;
      text-decoration: none;
      font-size: 1.3em;
      margin-right: 41px;

    }
  }
}

.main-section {
  background-color: $gray-ligth;
  padding-top: 150px;
  width: 100%;
  height: 100vh;

    .wrapper-logo {
      text-align: center;

      p {
        color: $white;
        font-family: Caslon;
        font-size: 2.43em;
        text-align: center;
        max-width: 336px;
        margin:62px auto;
        opacity: .8;
      }

      .main-logo {
        max-width: 408px;
        max-height: 202px;
      }

    }
}

.craft-beer-section {
  background-color: $white-pearl;
  height: 100vh;
  width: 100%;

    .wrapper-text-top {
      text-align: center;
      margin: 83px;
      margin-bottom: 0 !important;
      line-height: 1.1;

        .title-top {
          color: $black;
          font-size: 5.3em;
          font-family: Raleway-Bold;
        }

        .subtitle-top {
          color: $black;
          font-size: 3.8em;
          font-family: Raleway-Bold;
        }

        .paragraph-top {
          color: $gray-opacity;
          font-size: 2.7em;
          font-family: Caslon;
        }
    }

    .wrapper-logo-text {

      .logo-left{
        height: 444px;
        margin-left: 10%;
      }

      .align-paragraph {
        color: gray;
        display: inline-block;
        font-size: 1.76em;
        font-family: Caslon;
        text-align: left;
        max-width: 384px;
        margin-left: -4%;
        vertical-align: middle;
      }
    }
}
.team-section {
  height: 100vh;
  width: 100%;

    .wrapper-text-top {
      text-align: center;
      line-height: 1.1;

        .title-top {
          color: black;
          display: inline-block;
          font-size: 5em;
          font-family: Raleway-Bold;
          max-width: 447px;
          margin-top: 73px;
        }

        .subtile-top{
          color: $gray;
          display: inline-block;
          font-size: 2.38em;
          font-family: Caslon;
          max-width: 390px;

        }
    }
}

.testimonials-section {
  background-color: $black-background;
  height: 90vh;
  padding-top: 112px;
  text-align: center;
  width: 100%;

    .title-top{
      color: $white;
      font-size: 1.5em;
    }

    .commentary-wrapper {
      color: $white;
      display: inline-block;
      max-width: 402px;
      text-align: left;
      margin: 30px;
      vertical-align: top;

        .commentary {
          font-size: 2.8em;
          font-family: Caslon;
        }

        .line {
          border: solid .5px $gray-ligth;
        }

        .author {
          font-family: Raleway-Bold;
          font-size: 1em;
        }

        .position {
          color: $white-pearl;
          font-family: Caslon;
          font-size: 1em;
        }


    }
}
.products-section {
  text-align: center;

    .img-beer{
      max-height: 419px;
    }

    .wrapper-text-button {
      display: inline-block;
      vertical-align: middle;
      text-align: left;

        .title-top {
          color: $black;
          font-family: Raleway-Bold;
          font-size: 5em;
          line-height: 1;
          max-width: 426px;
        }

        .paragraph {
          color: $gray;
          font-family: Caslon;
          font-size: 1.5em;
          max-width: 441px;
        }

        .button {
          background-color: $button;
          border-radius: 50px;
          color: $white;
          font-size: 1.5em;
          height: 45px;
          margin-top: 40px;
          width: 190px;

          &:hover{
            background-color: $gray-ligth;
            cursor:pointer;
          }
        }
    }
  }

  .video-section{
    background-color: $gray-opacity;
    color: $white;
    height: 100vh;
    text-align: center;
    padding-top: 122px;

      .title-top{
        font-family: Raleway-Bold;
        font-size: 5em;
      }

      .subtile-bottom {
        font-family: Caslon;
        font-size: 2em;
      }
  }

  .social-network-section {
    padding: 76px;

    .wrapper-top{
      text-align: center;
      line-height: 1;

        .social-network-logo{
          max-height: 279px;
        }

        .title-top{
          color: $black;
          font-size: 5em;
          font-family: Raleway-Bold;
        }

        .subtitle-top{
          color:$gray-ligth;
          font-size: 2.3em;
          font-family:Caslon;
        }
        .social-wrapper{
          display: inline-block;
          margin: 35px;

            &.twitter-wrapper{
              margin-right: 0px !important;
            }

          .social-icon{
            max-height: 56px;
          }

          .title-bottom{
            margin: 15px;
            font-family: Raleway-Medium;
            font-size: 1.3em;
          }

          .subtitle-bottom{
            font-size: 1.4em;
            font-family: Caslon;
            color: $gray-ligth;
          }

        }
    }
  }

  .contact-us-section{
    height: 70vh;
    background-color: $gray-opacity;
    display: flex;
    align-items: center;

      .contact-wrapper{
        color: $white;
        text-align: center;
        margin:auto;

          .title-top{
            font-size: 5em;
            font-family: Raleway-Bold;
          }

          .paragraph-top{
            font-size: 2.3em;
            font-family: Caslon;
            max-width: 445px;
            margin: auto;
          }

          .contact-form {
            margin-top: 30px;
          }

          .email-input{
            background-color: $gray-ligth;
            border: none;
            border-radius: 8px;
            color: $white;
            font-family: Raleway-Medium;
            font-size: 1.5em;
            height: 45px;
            min-width: 400px;
            padding-left: 10px;
            color: $white;

              &::placeholder{
                color: $white;
                font-size: 1em;
                font-family: Raleway-Medium !important;
              }
          }

          .email-button {
            background-color: $button;
            border-radius: 50px;
            border: none;
            color: $white;
            font-family: Raleway-Medium;
            height: 45px;
            font-size: 1.5em;
            margin: 20px;
            width: 158px;

              &:hover{
                background-color: $gray-ligth;
                cursor: pointer;
              }
          }

        }
    }

    .footer-home{
      background-color: $black;
      color: $white;
      height: 20vh;
      display: flex;
      align-items: center;

        .footer-wrapper{
          width: 100%;
          display: flex;
          align-items: center;

            .logo-text{
              display: inline-block;
              font-family: Raleway-Medium;
              font-size: 1.6em;
              letter-spacing: 1.5px;
              margin: 0 10%;
              width: 15%;
            }

            .address{
              display: inline-block;
              font-family: Caslon;
              font-size: 1.2em;
              letter-spacing: 1.5px;
              color: $gray-ligth;
              width: 30%;


            }

            .copyright{
              color: $gray-ligth;
              display: inline-block;
              width: 20%;
            }

      }
    }
