$white: hsl(0,0,100%);

$gray-ligth: hsl(0, 0%, 53%);

$gray-opacity: hsl(0,0,40%);

$black: hsl(216, 4%, 24%);

$black-background: hsl(0,0,0);

$gray: hsl(204, 5%, 42%);

$white-pearl: hsl(0, 0, 98%);

$blue: hsl(219, 88%, 56%);

$button: $blue;
